body{
  background-image: url(https://raw.githubusercontent.com/ahsanazim/slack-landing-page/master/screen_caps/main_background.jpg);
  background-size: cover;
  background-repeat:   no-repeat;


}
h1{
  color:white;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 0%;
    left: 40%;
}


.hide{
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
}

.gameView .show {
  position: absolute;
  top: 90%;
  left: 45%;
  width: 100px;
}


}

.button{
  position: absolute;
  top: 50%;
  left:55%;
}


.landingPage .one{
-moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px red;
  width: 50px;
  height: 50px;
  position: absolute;
  top:28%;
  left:45%;
  animation: color-change 1.5s linear infinite alternate;

}

.landingPage .two{
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px blue;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:31%;
  animation: color-change 2s linear infinite alternate;
}

.landingPage .three{
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top:64%;
  left:45%;
  animation: color-change 2.5s linear infinite alternate;
}

.landingPage .four{
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px green;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:59%;
  animation: color-change 3.4s linear infinite alternate;
}


.gameView .one{
   Flash: target ;
-moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px red;
  width: 50px;
  height: 50px;
  position: absolute;
  top:28%;
  left:45%;

}

.gameView .two{
   Flash: target ;
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px blue;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:31%;

}

.gameView .three{
   Flash: target ;
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top:64%;
  left:45%;

}


.gameView .four{
   Flash: target ;
-moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px green;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:59%;

}



@keyframes color-change {
  0% {
   border-color: blue;
  }
  25% {
   border-color: red;
  }
  50% {
   border-color: green;
  }

75%{
 border-color: yellow;
  }
100%{
 border-color: purple;
  }
}

