body{
  background-image: url(https://raw.githubusercontent.com/ahsanazim/slack-landing-page/master/screen_caps/main_background.jpg);
  background-size: cover;
  background-repeat:   no-repeat;


}
/*h1{
  color:white;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: -6%;
    left: 34%;
}



 .one{
  border: solid 21px red;
  width: 50px;
  height: 50px;
  position: absolute;
  top:28%;
  left:45%;
  animation: color-change 1.5s linear infinite alternate;

}

 .two{
  border: solid 21px blue;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:31%;
  animation: color-change 2s linear infinite alternate;
}

 .three{
  border: solid 21px yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top:64%;
  left:45%;
  animation: color-change 2.5s linear infinite alternate;
}

 .four{
  border: solid 21px green;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:59%;
  animation: color-change 3.4s linear infinite alternate;
}



@keyframes color-change {
  0% {
   border-color: blue;
  }
  25% {
   border-color: red;
  }
  50% {
   border-color: green;
  }

75%{
 border-color: yellow;
  }
100%{
 border-color: purple;
  }
}
*/
    .landingPage{
      position: absolute;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0,0,0, 0.8);
    }
   form{
color: white;
position: absolute;
top:30%;
left:43%;
  }
         #circle {
    height: 100px;
    width: 100px;
    background-color: purple;
    position:absolute;
    left:150px;
    border-radius: 50%;
    top:45%;
    left:44%;
    z-index: 100;
    cursor: pointer;
    /*display: none;*/
  }

      .title{
        position: absolute;
        top:5%;
        left:2%;
        color:white;
        font-size:40px;
      }

      #level{
      position: absolute;
      top:5%;
      left:80%;
  }


/*        h1 {
    color:white;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;

  }*/

       p {
    color:white;
    font-size: 20px;
    position: absolute;
    top:60%;
    left:40%;
  }

     h2 {
    margin-top:5px;
    color:white;
    position: absolute;
    font-size: 40px;
  }


    .square {
    width: 300px;
    height: 300px;
    float: left;
  }

   .one {
  border: solid 21px red;
  width: 50px;
  height: 50px;
  position: absolute;
  top:15%;
  left:45%;
  cursor: pointer;
  }

    .two {
  border: solid 21px blue;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:26%;
  cursor: pointer;
  }

    .three {
  border: solid 21px green;
  width: 50px;
  height: 50px;
  position: absolute;
  top:46%;
  left:65%;
  cursor: pointer;
  }

    .four {
   border: solid 21px yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top:74%;
  left:45%;
  cursor: pointer;
  }
